extends layout

block content
    .jumbotron
        img.img-thumbnail(src='/img/bootstrap.png', width='500')
        h1 Bootstrap CSS
        p Bootstrap is a front-end technology which uses HTML/CSS/JavaScript 
        p Website : 
            a(href='http://getbootstrap.com/') http://getbootstrap.com/
    hr
    p