extends layout

block content
    .jumbotron
        img.img-thumbnail(src='/img/Express_header.png', width='500')
        h1 Express.js
        p Express.js is a set of helper functions for making a website built on Node.js.  It is a self-declared "web framework".
        p What express IS NOT:  This is not a fully featured MVC framework with a built-in directory structure.  
            p There are MVC frameworks which do overlay on top of a Node.js and Express stack - Such as Sails, LoopBack, Kraken, and MEAN stack (mean.io, meanjs.org).
    hr
