extends layout

block content
  h1 CS 390P - Frameworks - Project 4
  p.lead A demo website by P. Ross Baldwin
  hr
  .row
    .col-sm-6
      h2 Node.js
      img.img-thumbnail(src='public/img/nodejs_pic.png', alt='Cinque Terre', width='304', height='236')
      p
        a.btn.btn-default(href='/nodejs', role='button') View details »
    .col-sm-6
      h2 Express.js
      img.img-thumbnail(src='public/img/Express_header.png', alt='Cinque Terre', width='400', height='300')
      p
        a.btn.btn-default(href='/expressjs', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »