extends layout

block content
  h1 CS 390P - Frameworks - Project 4
  p.lead A demo website by P. Ross Baldwin
  p This demo website was created using the MongoDB/Express.js/Node.js/Bootstrap stack.
  p Boilerplate provided by the "Hackathon Starter" on GitHub 
    a(href='https://github.com/sahat/hackathon-starter') Here
  p The critical modules of the stack are outlined below:
  hr
  .row
    .col-md-6
      .panel.panel-primary
        .panel-heading 
          h2 Node.js
        .panel-body 
          img.img-thumbnail(src='/img/nodejs_pic.png', width='300', height='250')
        .panel-footer
          a.btn.btn-primary(href='/nodejs', role='button') View details »
    .col-md-6
      .panel.panel-danger
        .panel-heading
          h2 Express.js
        .panel-body 
          img.img-thumbnail(src='/img/Express_header.png', width='500', height='300')
        .panel-footer
          a.btn.btn-primary(href='/expressjs', role='button') View details »
  .row
    .col-md-6
      .panel.panel-success
        .panel-heading
          h2 MongoDB
        .panel-body
          img.img-thumbnail(src='/img/mongodb_header.jpg', width='535', height='325')
        .panel-footer
          a.btn.btn-primary(href='/mongodb', role='button') View details »
    .col-md-6
      .panel.panel-warning
        .panel-heading
          h2 Bootstrap CSS
        .panel-body
          img.img-thumbnail(src='/img/bootstrap.png', width='390', height='300')
        .panel-footer
          a.btn.btn-primary(href='/bootstrap', role='button') View details »