extends layout

block content
    .jumbotron
        img.img-thumbnail(src='/img/mongodb_header.jpg', width='500')
        h1 MongoDB
        p MongoDB is a NoSQL database, which uses "Documents" to store object literals.  
        p The ORM used is "Mongoose" - This translates the javascript objects into MongoDB syntax to be stored in the database.
        p Website Link: 
            a(href='https://www.mongodb.org/') https://www.mongodb.org/
    hr
    p
        img.img-responsive(src='/img/mongoose.png')