extends layout

block content
    .jumbotron
        img.img-responsive.img-rounded(src='/img/nodejs_pic.png', width="500px")
        h1 Node.js
        p
            b Node.js is an interpreter built on the "Google Javascript V8 Engine"
        p
            p It is a backend technology which allows for servers and backend "business" logic to be written in Javascript.
            p Most of the other modules used in this project leverage Node.js functions in some way.
            p Website Link: 
                a(href='https://nodejs.org/en/') https://nodejs.org/en/
    hr
    p
      img.img-responsive(src='/img/google_V8.png', width='700px')
    p
      img.img-responsive(src='/img/Passport.png', width='700px')