extends layout

block content
    .jumbotron
        img.img-rounded(src='/img/nodejs_pic.png', style='width:30em;height:20em')
        h1 Node.js
        p
            b Node.js is an interpreter built on the "Google Javascript V8 Engine"
            ul.list-unstyled
                ul
                    li It is a backend technology which allows for servers and backend "business" logic to be written in Javascript.
                    li Most of the other modules used in this project leverage Node.js functions in some way.
                    li Website Link: 
                        a(href='https://nodejs.org/en/') https://nodejs.org/en/
    hr
    p
      img(src='/img/google_V8.png', style='width:600px;height:170px')
    p
      img(src='/img/Passport.png', style='width:600px;height:500px')