extends layout

block content
    h1 Node.js
    p Node.js is the base of the Mongo/Express/Node stack.  It is the "Google Javascript V8 Engine", but is really just a new interpreter built by Google to make javascript run very quickly, and on the backend.
    hr
    img.img-thumbnail(src='/img/nodejs_pic.png', alt='Cinque Terre', width='304', height='236')
    