extends ../layout2

block content
    img.rounded(src='/img/MSUD_header.jpg', alt='Cinque Terre')
    .page-header 
        h2 MSUD Class Catalog - Courses
    p
    .container
        h2 Current Course List
        table.table.table-striped
            thead
                tr
                    td Course Name
            tbody
                for course in courses
                    tr
                        td= course.name + ' - ' + course.department_code + course.course_code