extends ../layout2

block content
  .page-header
    h3 Register New Student
  form.form-horizontal(id='createstudent-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='first_name') First Name
      .col-sm-7
        input.form-control(type='text', name='first_name', id='first_name', placeholder='ex. John', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='last_name') Last Name
      .col-sm-7
        input.form-control(type='text', name='last_name', id='last_name', placeholder='ex. Doe', required)
    .form-group
      label.col-sm-3.control-label(for='student_number') Student Number
      .col-sm-7
        input.form-control(type='text', name='student_number', id='student_number', placeholder='ex. 900123456', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Save New Student
