extends ../layout

block content
    img.img-responsive.rounded(src='/img/MSUD_header.jpg', alt='Cinque Terre')
    h1 Welcome to the MSUD Class Catalog and Registration System!
    p.lead The MSUD class catalog includes Students / Professors / Courses / Sections
    hr
    .row
        .col-md-3
            h2 Student List
            a.btn.btn-info(href='/classcatalog/students', role='button') View details »
        .col-md-3
            h2 Professors List  
            a.btn.btn-info(href='/classcatalog/professors', role='button') View details »
    .row
        .col-md-3
            h2 Courses List
            a.btn.btn-info(href='/classcatalog/courses', role='button') View details »
        .col-md-3
            h2 Sections List    
            a.btn.btn-info(href='/classcatalog/sections', role='button') View details »