extends ../layout

block content
    img.rounded(src='/img/MSUD_header.jpg', alt='Cinque Terre')
    h1 MSUD Class Catalog - Professors
    hr
    p
        a.btn-lg.btn-info(href='/classcatalog/index', role='button') Main Page