extends ../layout2

block content
    img.rounded(src='/img/MSUD_header.jpg', alt='Cinque Terre')
    h1 MSUD Class Catalog - Sections
    
    hr
    a.btn-lg.btn-info(href='/classcatalog/index', role='button') Main Page
    a.btn-lg.btn-success(href='/classcatalog/createSection', role='button') New Section Record
    a.btn-lg.btn-warning(href='/classcatalog/editSection', role='button') Edit Section Record
    a.btn-lg.btn-danger(href='/classcatalog/deleteSection', role='button') Delete Section Record